<div class="page-header">
  <div class="row">
    <div class="col-lg-6">
      <h1>Scott's Pomodros</h1>

      <p class="lead">
        As I try to create a more productive 2014.
      </p>
    </div>
  </div>
</div>   

<div class="row">
  <div class="col-md-12">
    <h1>Line Graph</h1>
    <div id="stock-chart" class="graph-wrap"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="clearfix">
      <h1 class="heat-map-title">Heat Map</h1>
      <div class="heat-map-buttons">
        <button id="PreviousDomain-selector" class="btn"><i class="fa fa-chevron-left"></i></button>
        <button id="NextDomain-selector" class="btn"><i class="fa fa-chevron-right"></i></button>
      </div>
    </div>
    
    
    <div id="cal-chart" class="graph-wrap"></div>
  </div>
</div>
      
<div class="row">
  <div class="col-md-12"> 
    <h1>Punch Card</h1>
    <div id="punchcard-chart" class="punchcard-chart graph-wrap"></div>
  </div>
</div>


